<p>personagens-page works!</p>
<table>
    <thead>
        <tr>
            <th>Nome</th>
            <th>Tipo</th>
            <th>Status</th>
            <th>Espécie</th>
            <th>Gênero</th>
            <th>Origem</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Hepatite C</td>
            <td>""</td>
            <td>Dead</td>
            <td>Disease</td>
            <td>unknown</td>
            <td>Anatomy Park</td>
        </tr>
        <tr>
            <td>Jacob</td>
            <td>""</td>
            <td>Alive</td>
            <td>Human</td>
            <td>Male</td>
            <td>Earth</td>
        </tr>
        <tr>
            <td>Trunk Morty</td>
            <td>Trunk-Person</td>
            <td>Alive</td>
            <td>Humanoid</td>
            <td>Male</td>
            <td>Trunk World</td>
        </tr>
        <tr>
            <td>Zick Zack</td>
            <td>Floop Floopian</td>
            <td>Dead</td>
            <td>Alien</td>
            <td>Male</td>
            <td>Earth (Replacement Dimension)</td>
        </tr>
        <tr>
            <td>Deliverance</td>
            <td>""</td>
            <td>Dead</td>
            <td>Robot</td>
            <td>Genderless</td>
            <td>Midland Quasar</td>
        </tr>
        <tr>
            <td>Morty’s Father-in-law</td>
            <td>""</td>
            <td>Alive</td>
            <td>Human</td>
            <td>Male</td>
            <td>Near-Duplicate Reality</td>
        </tr>
    </tbody>
</table>
